<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>506167808822-vieblilrqibr0btjh2op33qskjnb9bjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506167808822-vieblilrqibr0btjh2op33qskjnb9bjh</string>
	<key>API_KEY</key>
	<string>AIzaSyDJretvEZMR7Sp1rAX3kIuRXWiJg91SBI0</string>
	<key>GCM_SENDER_ID</key>
	<string>506167808822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prandom.RealTimeProfiles</string>
	<key>PROJECT_ID</key>
	<string>realtimeprofiles</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimeprofiles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506167808822:ios:b1b0f86348679d42</string>
	<key>DATABASE_URL</key>
	<string>https://realtimeprofiles.firebaseio.com</string>
</dict>
</plist>